@use "../variables"
@use '../mixins'
    
#projects-content
    background-color: variables.$bg-color
    flex: 2 1 0
    border-radius: variables.$container-border-radius
    padding: 3rem 2rem
    min-width: 300px
    max-height: 130vh

    

    .projects-container
        display: flex
        flex-direction: column
        padding: 1rem
        height: 100%
        width: 100%
        

        h2
            color: variables.$text-color
            font-size: 2.2rem
            margin-bottom: 1.3rem
            @include mixins.center
            justify-content: start
            gap: 1rem

            &:after
                @include mixins.gradient-border
            

        .projects-grid
            overflow: hidden
            gap: 1.5rem
            height: 95%
            overflow: auto
            overflow-x: hidden
    
            &::-webkit-scrollbar
                width: 2px          

            &::-webkit-scrollbar-thumb 
                
                height: 20px
                background: #363795

            .project-card
                display: flex
                flex-direction: column
                @include mixins.center
                gap: 1rem
                padding: 1rem
                background-color: #222222
                width: 100%
                border-radius: variables.$card-border-radius 
                margin-bottom: 1rem

                .project-info
                    width: 100%
                    margin-bottom: .8rem
                    border-bottom: 1px solid #444

                .project-status
                    width: 100%
                    margin-bottom: .8rem
                    border-bottom: 1px solid #444
                
                small
                    color: #a6a6a6
                    line-height: 1.3rem
                h3
                    color: variables.$text-color
                    margin-bottom: 1rem

                p
                    color: #a6a6a6
                    margin-bottom: 1rem
                    line-height: 1.3rem
                    border-bottom: 1px solid #444

                svg
                    font-size: 3rem

                .tech-info-view
                    display: flex
                    flex-wrap: wrap
                    flex-direction: row
                    align-items: center
                    padding: 0 0.5rem
                    justify-content: space-between
                    width: 100%

                    .tech
                        display: flex
                        flex-wrap: wrap
                        flex-direction: row

                    a
                        align-self: start
                        @include mixins.btn
                        .view-btn
                    :hover
                        background: variables.$gradient-hover
                        color: variables.$text-color

        
